<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.HandCricket" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appname"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.android.HandCricket.MenuActivity"
            android:label=" " >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.HandCricket.LaunchActivity"
            android:label="HAND CRICKET!!!" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.HandCricket.LaunchNextActivity"
            android:label="HAND CRICKET" >
        </activity>
        <activity
            android:name="com.example.android.HandCricket.PlayTossActivity"
            android:label=" " >
        </activity>

        <activity
            android:name="com.example.android.HandCricket.HelpActivity"
            android:label=" " >
        </activity>
        <activity
            android:name="com.example.android.HandCricket.TossActivity"
            android:label=" " >
        </activity>
        <activity
            android:name="com.example.android.HandCricket.PlayerWinActivity"
            android:label=" " >
        </activity>
        <activity
            android:name="com.example.android.HandCricket.MainPlayActivity"
            android:label=" " >
        </activity>
        <activity
            android:name="com.example.android.HandCricket.CompWinActivity"
            android:label=" " >
        </activity>
        <activity
            android:name="com.example.android.HandCricket.TossResultActivity"
            android:label=" " >
        </activity>



        <activity
            android:name="com.example.android.HandCricket.ResultActivity"
            android:label=" " >
        </activity>
        <activity
            android:name="com.example.android.HandCricket.HelpNextActivity"
            android:label=" " >
        </activity>
    </application>

</manifest>
